@import 'mixin';

$modal-z: 9999 !default;

$modal-background-background-color: rgba($scheme-invert, 0.86) !default;

$modal-content-width: 640px !default;
$modal-content-margin-mobile: 20px !default;
$modal-content-spacing-mobile: 160px !default;
$modal-content-spacing-tablet: 40px !default;

$modal-close-dimensions: 40px !default;
$modal-close-right: 20px !default;
$modal-close-top: 20px !default;

$modal-card-spacing: 40px !default;

$modal-card-head-background-color: $background !default;
$modal-card-head-border-bottom: 1px solid $border !default;
$modal-card-head-padding: 20px !default;
$modal-card-head-radius: $radius-large !default;

$modal-card-title-color: $text-strong !default;
$modal-card-title-line-height: 1 !default;
$modal-card-title-size: $size-4 !default;

$modal-card-foot-radius: $radius-large !default;
$modal-card-foot-border-top: 1px solid $border !default;

$modal-card-body-background-color: $scheme-main !default;
$modal-card-body-padding: 20px !default;

.modal {
  @extend %overlay;

  align-items: center;
  display: none;
  flex-direction: column;
  justify-content: center;
  overflow: hidden;
  position: fixed;
  z-index: $modal-z;

  // Modifiers
  &.is-active {
    display: flex;
  }
}

.modal-background {
  @extend %overlay;

  background-color: $modal-background-background-color;
}

.modal-content,
.modal-card {
  margin: 0 $modal-content-margin-mobile;
  max-height: calc(100vh - #{$modal-content-spacing-mobile});
  overflow: auto;
  position: relative;
  width: 100%;

  // Responsiveness
  @include tablet {
    margin: 0 auto;
    max-height: calc(100vh - #{$modal-content-spacing-tablet});
    width: $modal-content-width;
  }
}

.modal-close {
    @extend %delete;
  background: none;
  height: $modal-close-dimensions;
  position: fixed !important;
  right: $modal-close-right;
  top: $modal-close-top;
  width: $modal-close-dimensions;
}

.modal-card {
  display: flex;
  flex-direction: column;
  max-height: calc(100vh - #{$modal-card-spacing});
  overflow: hidden;
  -ms-overflow-y: visible;
}

.modal-card-head,
.modal-card-foot {
  align-items: center;
  background-color: $modal-card-head-background-color;
  display: flex;
  flex-shrink: 0;
  justify-content: flex-start;
  padding: $modal-card-head-padding;
  position: relative;
}

.modal-card-head {
  border-bottom: $modal-card-head-border-bottom;
  border-top-left-radius: $modal-card-head-radius;
  border-top-right-radius: $modal-card-head-radius;
}

.modal-card-title {
  color: $modal-card-title-color;
  flex-grow: 1;
  flex-shrink: 0;
  font-size: $modal-card-title-size;
  line-height: $modal-card-title-line-height;
}

.modal-card-foot {
  border-bottom-left-radius: $modal-card-foot-radius;
  border-bottom-right-radius: $modal-card-foot-radius;
  border-top: $modal-card-foot-border-top;

  .button {
    &:not(:last-child) {
      margin-right: 0.5em;
    }
  }
}

.modal-card-body {
  @include overflow-touch;

  background-color: $modal-card-body-background-color;
  flex-grow: 1;
  flex-shrink: 1;
  overflow: auto;
  padding: $modal-card-body-padding;
}

/*! _dialogs.scss | Bulkit | CSS Ninja */

/* ==========================================================================
Modal dialogs styles
========================================================================== */


/***
TABLE OF CONTENTS
=============================================================================
0. Base modal class
1. Modal active state
2. Media queries
=============================================================================
***/

/* ==========================================================================
0. Base modal class
========================================================================== */
.modal {
    transition: all 0.5s;
    transform: scale(0);
    //modal content default styles
    .modal-content {
        transition: all 0.4s;
        transform: scale(0);
        opacity: 0;
        z-index: 99 !important;
    }
    //modal close default styles
    .modal-close {
        transition: all 0.4s;
        z-index: 100 !important;
        transform: rotate(0);
        &:hover {
            transform: rotate(180deg);
        }
    }
    a {
        border-radius: 6px;
    }
}

/* ==========================================================================
1. Modal active state
========================================================================== */
.modal.is-active {
    transform: scale(1);
    //modal overlay
    .modal-background {
        background: $webkit-modal-gradient;
        background: $modal-gradient;
        background-color: $primary;
        width: 1000px;
        height: 1000px;
        border-radius: 10000px;
        transition: all 0.5s;
        transform: scale(0);
        margin-left: auto ;
        margin-right: auto ;
        left: 0 ;
        right: 0 ;
        top: 0 ;
        bottom: 0 ;
        z-index: 98 !important;
        overflow: hidden !important;
        &.scaleInCircle {
            transform: scale(7);
        }
    }
    //modal-content
    .modal-content {
        //scale in entrance
        &.scaleIn {
            transform: scale(1);
            opacity: 1;
        }
    }
    //close button z-index
    .modal-close {
        z-index: 100 !important;
    }
    //image modal variation
    &.image-modal {
        .modal-background {
            background: $webkit-coal-gradient;
            background: $coal-gradient;
            background-color: $blue-grey;
        }
        img {
            border-radius: 6px;
        }
        .gallery-item figure {
            background: none;
        }
    }
    //Modal card
    .modal-card {
        .modal-card-head, .modal-card-foot {
            padding: 15px;
        }
        //header
        .modal-card-head {
            background-color: $white;
            p {
                color: $blue-grey;
            }
            //close button
            .delete {
                background: transparent !important;
                transition: all 0.3s;
                &:before {
                    background: $accent;
                }
                &:after {
                    background: $accent;
                }
                &:hover {
                    transform: rotate(135deg);
                }
            }
        }
        //card body
        .modal-card-body::-webkit-scrollbar {
            width: 10px;
        }

        .modal-card-body::-webkit-scrollbar-thumb {
            border-radius: 5px;
            background: rgba(0,0,0,0.2);
        }
        //card footer
        .modal-card-foot {
            background-color: $white;
            justify-content: flex-end;
            border-top: none;
        }
    }
    //small modal
    &.modal-sm {
        .modal-card-body {
            max-height: 400px;
        }
    }
    //current theme gradient overlay color
    &.modal-hero {
        .modal-background {
            background: $webkit-hero-gradient;
            background: $hero-gradient;
            background-color: $secondary;
        }
    }
    //success overlay
    &.modal-success {
        .modal-background {
            background: $green;
        }
    }
    //error overlay
    &.modal-error {
        .modal-background {
            background: $red;
        }
    }
    //warning overlay
    &.modal-warning {
        .modal-background {
            background: $orange;
        }
    }
    //info overlay
    &.modal-info {
        .modal-background {
            background: $blue;
        }
    }
    //message modals icon
    .modal-svg {
        max-width: 110px;
        margin: 0 auto !important;
    }
}

/* ==========================================================================
2. Media queries
========================================================================== */

//Mobile adjutment
@media screen and (min-width: 769px) {
    .modal.modal-lg {
        .modal-card, .modal-content {
            width: 800px !important;
        }
    }
    .modal.modal-md {
        .modal-card, .modal-content {
            width: 500px !important;
        }
    }
    .modal.modal-sm {
        .modal-card, .modal-content {
            width: 400px !important;
        }
    }
}

/* ==========================================================================
2. Search Modal
========================================================================== */

//Popup search modal
#search-modal {
    .modal-content {
        padding: 30px 10px 0 10px;
        input {
            color: $white;
            font-size: 2rem;
            padding-right: 50px;
            &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
                color: $white;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: $white;
            }
            &:-ms-input-placeholder { /* IE 10+ */
                color: $white;
            }
            &:-moz-placeholder { /* Firefox 18- */
                color: $white;
            }
        }
        svg {
            font-size: 3rem;
            right: 0;
            top: 18px;
	    opacity: 0.7;
	    transition: 1s opacity;
	    &:hover {
		cursor: pointer;
		opacity: 1;
	    }
	    path {fill: $white;}
	    [fill=none] {fill: none !important;}
        }
    }
    //active state
    &.is-active.modal-background {
        margin-left: inherit!important;
        margin-right: inherit !important;
        right: 20px !important;
        top: 20px !important;
        bottom: inherit !important;
    }
}

.main-modal h2 {
    font-size: 1.4rem;
    font-weight: 600;
    background: #fff;
    /*padding-top: 15px;*/
    padding-bottom: 15px;
    padding-top: 8px;
}
.main-modal .form-footer button {
    font-weight: 400;
    color: #fff;
    padding: 20px;
    border-radius: 6px;
    line-height: 0;
    background: #758ecd;
    margin-left: 10px;
}
.main-modal .form-footer button:hover {
    box-shadow: 0 14px 16px -22px rgba(127,0,255,0.42),0 4px 13px 0px rgba(0,0,0,0.12),0 8px 5px -5px rgba(127,0,255,0.2) !important;
}
.main-modal .form-footer button.is-white {
    color: inherit;
    background: none;
    border-color: #dbdbdb;
}
.form-footer {
    display: flex;
    justify-content: space-between;
}

.main-modal input {
    border-radius: 5px;
    -webkit-border-radius: 5px;
    padding: 5px 10px;
    width: 100%;
}
